<mat-card id="card-container" [ngSwitch]="formType">

	<mat-card-content *ngSwitchCase="formTypes.LOGIN" class="mat-elevation-z2">
			<mat-card-title>Sign In to Your Account</mat-card-title>
		<form class="form-container" [formGroup]="loginForm">
			<mat-form-field>
				<input matInput placeholder="Enter User Name" formControlName="username"
					(focus)="clearError('username')" required>
				<mat-error *ngIf="userNameInvalid">Invalid User Name</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
					formControlName="password" (focus)="clearError('passwordLogin')" required>
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				<mat-error *ngIf="passwordInvalid('login')">Invalid username/password</mat-error>
			</mat-form-field>
		</form>

		<form class="flex-container button" [formGroup]="loginForm" (ngSubmit)="signIn()">
			<button class="mat-elevation-z2" mat-flat-button color="primary" type="button" (click)="guestSignIn()">
				<ng-container *ngIf="!guestLoading">
					Guest
				</ng-container>
				<ng-container *ngIf="guestLoading">
					<mat-spinner [diameter]="'20'" color="accent"></mat-spinner>
				</ng-container>
			</button>
			<button class="mat-elevation-z2" mat-flat-button color="accent" [disabled]="!enableSignIn" type="submit">
				<ng-container *ngIf="!loading">
					Sign In
				</ng-container>
				<ng-container *ngIf="loading">
					<mat-spinner [diameter]="'20'"></mat-spinner>
				</ng-container>
			</button>
		</form>
		<div class="flex-container secondary">
			<button mat-button (click)="loginNavigate(formTypes.REQUEST_RESET)">Forgot Password?</button>
			<span>&bull;</span>
			<button mat-button color="accent" (click)="loginNavigate(formTypes.SIGNUP)">Create Account</button>
		</div>
	</mat-card-content>

	<mat-card-content *ngSwitchCase="formTypes.REQUEST_RESET" class="mat-elevation-z2">
		<mat-card-title>Reset Your Password</mat-card-title>
		<mat-card-content class="confirmation-text">
			Enter a valid email address to receive a password reset code.
		</mat-card-content>
		<form class="form-container" [formGroup]="passwordForm">
			<mat-form-field>
				<input matInput placeholder="Enter Email" formControlName="email" (focus)="clearError('email')"
					required>
				<mat-error *ngIf="emailInvalid('resetRequest')">Please enter a valid email address</mat-error>
				<mat-error *ngIf="emailInvalid('notFound')">No user exists with this email address</mat-error>
			</mat-form-field>
		</form>
		<form class="flex-container button" [formGroup]="passwordForm" (ngSubmit)="requestReset()">
			<button class="mat-elevation-z2" mat-flat-button color="primary" type="button"
				(click)="loginNavigate(formTypes.LOGIN)">
				Back
			</button>
			<button class="mat-elevation-z2" mat-flat-button color="accent" type="submit"
				[disabled]="!enableResetRequest">
				<ng-container *ngIf="!loading">
					Request Reset
				</ng-container>
				<ng-container *ngIf="loading">
					<mat-spinner [diameter]="'20'"></mat-spinner>
				</ng-container>
			</button>
		</form>
	</mat-card-content>

	<mat-card-content *ngSwitchCase="formTypes.RESET_SUBMIT" class="mat-elevation-z2">
		<mat-card-title>Enter Your New Password</mat-card-title>
		<mat-card-content class="confirmation-text">
			Enter the code within the email to reset your password.
		</mat-card-content>
		<div class="form-container">
			<mat-form-field>
				<input matInput placeholder="Enter Email" value="{{codeDelivery.Destination}}" disabled>
			</mat-form-field>
		</div>
		<form class="form-container reset" [formGroup]="passwordResetForm">
			<mat-form-field>
				<input matInput placeholder="Enter Code" formControlName="code" (focus)="clearError('code')" required>
				<mat-error *ngIf="codeInvalid">Invalid code provided, please try again</mat-error>
				<mat-error *ngIf="codeExpired">Code expired. Please get a new code and try again</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
					formControlName="password" (focus)="clearError('passwordReset')" required>
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				<mat-error *ngIf="passwordInvalid('reset')">Min Length (8), uppercase, lowercase</mat-error>
			</mat-form-field>
		</form>
		<form class="flex-container button" [formGroup]="passwordResetForm" (ngSubmit)="submitResetPassword()">
			<button class="mat-elevation-z2" mat-flat-button color="primary" type="button" (click)="requestReset()">
				Resend
			</button>
			<button class="mat-elevation-z2" mat-flat-button [disabled]="!enablePasswordReset" color="accent"
				type="submit">
				<ng-container *ngIf="!loading">
					Reset Password
				</ng-container>
				<ng-container *ngIf="loading">
					<mat-spinner [diameter]="'20'"></mat-spinner>
				</ng-container>
			</button>
		</form>
	</mat-card-content>

	<mat-card-content *ngSwitchCase="formTypes.SIGNUP" class="mat-elevation-z2">
			<mat-card-title>Create a Profile</mat-card-title>
		<form class="form-container" [formGroup]="signUpForm">
			<mat-form-field>
				<input matInput placeholder="Enter First Name" formControlName="given_name"
					(focus)="clearError('givenName')" required>
				<mat-error *ngIf="givenNameInvalid">Max Length (16)</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Enter Last Name" formControlName="family_name"
					(focus)="clearError('familyName')" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
					formControlName="password" (focus)="clearError('password')" required>
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				<mat-error *ngIf="passwordInvalid('signUp')">Min Length (8), uppercase, lowercase</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Enter Email" formControlName="email" (focus)="clearError('email')"
					required>
				<mat-error *ngIf="emailInvalid('signUp')">Invalid Email</mat-error>
				<mat-error *ngIf="emailInvalid('taken')">An account with this email already exists</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Enter Phone" formControlName="phone_number"
					(focus)="clearError('phoneNumber')">
				<mat-error *ngIf="phoneInvalid">Invalid Phone</mat-error>
			</mat-form-field>
		</form>
		<form class="flex-container button" [formGroup]="signUpForm" (ngSubmit)="signUp()">
			<button class="mat-elevation-z2" mat-flat-button color="primary" type="button"
				(click)="loginNavigate(formTypes.LOGIN)">
				Back
			</button>
			<button class="mat-elevation-z2" mat-flat-button [disabled]="!enableSignUp" color="accent" type="submit">
				<ng-container *ngIf="!loading">
					Sign Up
				</ng-container>
				<ng-container *ngIf="loading">
					<mat-spinner [diameter]="'20'"></mat-spinner>
				</ng-container>
			</button>
		</form>
	</mat-card-content>

	<mat-card-content *ngSwitchCase="formTypes.CONFIRM" class="mat-elevation-z2">
		<mat-card-title>Confirm Sign up</mat-card-title>
		<mat-card-content class="confirmation-text">A confirmation email has been sent to the below address.
		</mat-card-content>
		<form class="form-container" [formGroup]="confirmForm">
			<mat-form-field>
				<input matInput formControlName="email">
			</mat-form-field>
		</form>
		<div class="flex-container button">
			<button class="mat-elevation-z2" mat-flat-button color="primary" type="button"
				(click)="resendConfirmSignUp()">
				Resend
			</button>
			<button class="mat-elevation-z2" mat-flat-button color="accent" type="button" (click)="backToSignIn()">
				<ng-container *ngIf="!loading">
					Back to Sign In
				</ng-container>
				<ng-container *ngIf="loading">
					<mat-spinner [diameter]="'20'"></mat-spinner>
				</ng-container>
			</button>
		</div>
	</mat-card-content>

</mat-card>