$mmm-dark: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #525252,
    500 : #333333,
    600 : #2e2e2e,
    700 : #272727,
    800 : #202020,
    900 : #141414,
    A100 : #ef6e6e,
    A200 : #ea4040,
    A400 : #f60000,
    A700 : #dd0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mmm-orange: (
    50 : #fff0e0,
    100 : #ffdab3,
    200 : #ffc280,
    300 : #ffa94d,
    400 : #ff9626,
    500 : #ff8400,
    600 : #ff7c00,
    700 : #ff7100,
    800 : #ff6700,
    900 : #ff5400,
    A100 : #ffffff,
    A200 : #fff6f2,
    A400 : #ffd0bf,
    A700 : #ffbea6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$tnt-darkred: (
    50 : #ece6e6,
    100 : #d0c1c2,
    200 : #b19899,
    300 : #926f70,
    400 : #7a5051,
    500 : #633132,
    600 : #5b2c2d,
    700 : #512526,
    800 : #471f1f,
    900 : #351313,
    A100 : #ff7474,
    A200 : #ff4141,
    A400 : #ff0e0e,
    A700 : #f40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);