$header-large: 64px;
$header-small: 56px;

$primary-dark: #333333;
$primary-accent: #ff8400;
$secondary-accent: #00BBFF;
$card-background: #FFFFFF;
$dark-text: #333333;
$med-dark-text: #666666;
$light-text: #FFFFFF;
$primary-border: #BBBBBB;