@import "variables";
@import "mixins";

#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .button-container {
        display: flex;
        margin: 20px;
    
        button {
            flex: 0 0 48%;
            margin: 0;
            height: 50px;
    
            &:first-child {
                margin-right: auto;
            }
        }
    }
    
    mat-card-title {
        margin: 20px;
        font-size: 45px;
    }
    
    mat-card-content {
        margin: 0 20px 20px;
        font-size: 16px;
    }
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.card {
    width: 780px;
    padding: 0;
    margin: 20px auto 0;

    @include breakpoint(tablet) {
        width: auto;
        margin: 20px 15px 0;
    }
}